# Core functionality - changes here should be rare!
/src/app.py                   @Tsholodev
/src/backend/database.py      @Tsholodev
/src/backend/routers/auth.py  @Tsholodev

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Tsholodev
